<div aria-hidden="true" class="cursor">
  <span class="cursor__dot"></span>
  <span class="cursor__dot"></span>
  <span class="cursor__dot"></span>
  <span class="cursor__dot"></span>
  <span class="cursor__dot"></span>
</div>