<header>
  <h1 class="is-blind">Font lightening</h1>
  <!-- <a href="/">home</a>
  <a href="/file-drag-upload">file drag upload</a> -->
  <!-- <nav class="navigation">
    <h1 class="is-blind">Navigation</h1>
    <ul>
      <li>
        <a href="#">Noto Sans KR</a>
      </li>
      <li>
        <a href="#">Nanum Gothic</a>
      </li>
    </ul>
  </nav> -->
</header>


