<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
  <div style="display:flex;align-items: center;justify-content: center;height:100%">
    <pre style="font-size: 14px;color:#000;text-align: center;line-height:1.2" class="uploadbox__heading">
<%= data[0] %>

<%= data[1] %>
    </pre>
  </div>
</body>
</html>