<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./includes/head'); -%>
</head>
<body>
  <%- include('./includes/header'); -%>
  <div id="content">
    font-view.ejs
  </div>
  <%- include('./includes/script'); -%>
</body>
</html>