<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./includes/head'); -%>
</head>
<body>
  <div class="wrapper">
    <%- include('./includes/header'); -%>
    <main id="content" class="content">
      <h2 class="is-blind">본문</h2>
      <section class="typefaces">
        <h3 class="typefaces__heading heading">Glyphs</h3>
        <div class="tabs">
          <div role="tablist" class="tabs__header">
            <div class="tabs__header-wrapper">
              <button type="button" id="recommend-tab" role="tab" aria-selected="true" aria-controls="recommend" class="tabs__button">Recommend glyphs</button>
              <button type="button" id="user-tab" role="tab" aria-selected="false" aria-controls="user" tabindex="-1" class="tabs__button">User glyphs</button>
            </div>
            <div class="tabs__header-bar"></div>
          </div>
          <div class="tabs__content">
            <div id="recommend" role="tabpanel" aria-labelledby="recommend-tab" aria-hidden="false" class="tabs__panel">
              <div class="typefaces__characters typefaces__characters--grid"> </div>
            </div>
            <div id="user" role="tabpanel" aria-labelledby="user-tab" aria-hidden="true" hidden class="tabs__panel">
              <div contenteditable="true" class="typefaces__characters typefaces__characters--edit"></div>
            </div>
          </div>
        </div>
        <div class="typefaces__buttons">
          <button type="button" class="typefaces__button button">Download fonts</button>
        </div>
      </section>
    </main>
    <%- include('./includes/cursor'); -%>
  </div>
  <%- include('./includes/script'); -%>
  <script>
    /*
     * Glyph 출력
  ​   */
    async function getRecommendGlyphs() {
      const response = await axios.get('/api/glyphs/recommend');
      return response.data;
    }

    async function printGlyphs() {
      const glyphs = await getRecommendGlyphs();
      const $glyphsItems = glyphs.split('').reduce((accumulator, glyph) => {
          return `${accumulator}<span class="typefaces__characters-item">${glyph}</span>`;
        }, '');

      document.querySelector('.typefaces__characters--edit').textContent = glyphs;
      document.querySelector('.typefaces__characters--grid').innerHTML = $glyphsItems;
    }

    printGlyphs();

    /*
     * 폰트 다운로드
  ​   */
    document.querySelector('.typefaces__button').addEventListener('click', e => {
      e.preventDefault();
    });
  </script>
</html>