<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./includes/head'); -%>
</head>
<body>
  <div class="wrapper">
    <%- include('./includes/header'); -%>
    <main id="content" class="content">
      <h2 class="is-blind">본문</h2>
      <section class="intro" aria-live="polite">
        <h3 class="intro__heading heading">Font<br>lightening</h3>
        <p class="intro__paragraph">드래그 &amp; 드롭 또는 버튼을 클릭하여 폰트를 업로드하세요.</p>
        <p class="intro__paragraph">불필요한 문자를 제거하여 경량화된 서브셋 폰트 파일로 내려받을 수 있습니다.</p>
        <p class="intro__paragraph">안타깝지만 OTF 파일은 지원하지 않습니다 ;(</p>
        <div class="intro__button-region">
          <button type="button" class="button">Upload font files</button>
        </div>
        <form method="post" action="/api/upload" enctype="multipart/form-data" class="intro__form is-blind">
          <input type="file" name="file[]" multiple accept=".ttf, .woff2, .woff, .svg, .eot" title="폰트 파일을 선택해주세요." class="intro__form-input-file">
        </form>
      </section>
      <!-- <section class="intro is-uploading">
        <h3 class="intro__heading">Uploading file.</h3>
        <p class="intro__paragraph">지금 폰트 파일을 업로드하고 있습니다.</p>
      </section> -->
    </main>
    <%- include('./includes/cursor'); -%>
  </div>
  <%- include('./includes/script'); -%>
  <script src="/public/js/ui.advanced-file-upload.js"></script>
</body>
</html>