<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./includes/head'); -%>
</head>
<body>
  <!-- <%- include('./includes/header'); -%> -->
  <div id="content" class="content">
    <div class="content__wrapper">
      <form method="post" action="" enctype="multipart/form-data" class="uploadbox">
        <h2 class="is-blind">Files upload</h2>
        <div class="is-blind">
          <input type="file" name="file[]" multiple title="폰트 파일을 등록해주세요." class="uploadbox__input-file">
        </div>
        <div class="uploadbox__content uploadbox__content--normal">
          <strong class="uploadbox__heading">Drag &amp; Drop files here</strong>
          <p class="uploadbox__paragraph">업로드한 폰트의 모습을 미리보고, 텍스트를 제거하여 경량화된 서브셋 폰트 파일을 내려받으세요.</p>
          <p class="uploadbox__paragraph">안타깝지만 TTF 외의 파일은 지원하지 않습니다 ;(</p>
          <button type="button" class="uploadbox__button">Browser files</button>
        </div>
        <div class="uploadbox__content uploadbox__content--draging">
          <strong class="uploadbox__heading">파일을 그대로 놓아주세요 :)</strong>
        </div>
        <div class="uploadbox__content uploadbox__content--uploading">
          <strong class="uploadbox__heading">잠시만요!</strong>
          <p class="uploadbox__paragraph">파일을 저장할 때까지 약간의 시간이 걸립니다.</p>
          <p class="uploadbox__paragraph">잠시만 기다려주세요.</p>
        </div>
      </form>
    </div>
  </div>
  <%- include('./includes/script'); -%>
  <script src="/public/js/ui.file-drag-and-drop-upload.js"></script>
</body>
</html>