<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./includes/head'); -%>
</head>
<body>
  <%- include('./includes/header'); -%>
  <div id="content">index 파일입니다. 아무 기능없는 페이지에요.</div>
  <%- include('./includes/script'); -%>
</body>
</html>