<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <style>
    body {
      font-family: 'Inter', 'Spoqa Han Sans', sans-serif;
      cursor: none;
      /* cursor: default; */
    }

    h1 {
      /* padding: 7% 0 0 0; */
      /* margin-top: -8%; */
      /* margin-top: 80px; */
      margin-top: -11%;
      font-size: 125px;
      font-weight: 800;
      color: #000;
      line-height: 1.1;
      /* font-size: 22px; */
    }

    strong {
      display: inline-block;
      margin-top: 150px;
      /* margin-left: 8%; */
      font-size: 90px;
      font-weight: 800;
      color: #111;
    }

    p {
      margin-top: 80px;
      font-size: 22px;
      /* color: #888888; */
      /* color: #666; */
      /* color: #222; */
      font-weight: 400;
    }

    p + p {
      margin-top: 15px;
    }

    button {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 60px;
      margin-left: 8%;
      /* background-color: #1e3428; */
      background-color: #003748;
      font-size: 12px;
      font-weight: 300;
      color: #fff;
    }

    .global-cursor {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
      -webkit-transition: opacity .5s cubic-bezier(1,.15,.25,1);
      transition: opacity .5s cubic-bezier(1,.15,.25,1);
      z-index: 998;
      pointer-events: none;
      mix-blend-mode: difference;
      backface-visibility: hidden;
    }

    .global-cursor.is-none {
      mix-blend-mode: normal;
    }

    .global-cursor.is-none .cursor-dot {
      background-color: #000;
    }

    .global-cursor .cursor-wrapper {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 998;
      pointer-events: none
    }

    .cursor-dot {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 4rem;
      background: #fff;
      position: absolute;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      transform: translate(-100%, -100%);
      will-change: transform;
      /* -webkit-transition: background-color 1.5s cubic-bezier(1,.15,.25,1) !important; */
      /* transition: background-color 1.5s cubic-bezier(1,.15,.25,1) !important */
    }

    .cursor-dot:nth-child(2) { /* 1 - (1 * .2) - .1 = .9 */
      transform: translate(-100%, -100%) scale(.8);
    }

    .cursor-dot:nth-child(3) { /* 1 - (1 * .3) - .2 = .8 */
      transform: translate(-100%, -100%) scale(.6)
    }

    .cursor-dot:nth-child(4) {
      transform: translate(-100%, -100%) scale(.4);
    }

    .cursor-dot:nth-child(5) {
      transform: translate(-100%, -100%) scale(.2);
    }

    /* maxLength: 5 */
    /* (5 - 1)  */

    .Test {
      display: flex;
      justify-content: center;
      height: 100%;
      padding-left: 8%;
      flex-direction: column;
      background-color: #fff;
    }

    img {
      position: absolute;
      bottom: 11%;
      right: 6%;
    }

    a {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 11px;
    }
  </style>
</head>

<body>
  <div class="Test">
    <h1>Font<br>lightening</h1>
    <!-- <strong>Drag &amp; Drop Files Here</strong> -->
    <p>드래그 &amp; 드롭 또는 화면을 클릭하여 폰트를 업로드하세요.</p>
    <p>불필요한 문자를 제거하여 경량화된 서브셋 폰트 파일로 내려받을 수 있습니다.</p>
    <p>안타깝지만 OTF 파일은 지원하지 않습니다 ;(</p>
    <!-- <p>안타깝지만 TTF 파일만 지원합니다 ;(</p> -->
    <!-- <button type="button">Click<br>Browser files</button> -->
  </div>
  <div>
    <img src="/public/image/Untitled-2.svg" alt="">
    <!-- https://www.freepik.com/free-vector/hand-drawn-feather-collection_1133922.htm#page=1&query=feather&position=40 -->
    <a href="http://www.freepik.com" target="_blank">Hand drawn feather designed by Archjoe / Freepik</a>
  </div>
  <div class="global-cursor">
    <div class="cursor-wrapper">
      <span class="cursor-dot"></span>
      <span class="cursor-dot"></span>
      <span class="cursor-dot"></span>
      <span class="cursor-dot"></span>
      <span class="cursor-dot"></span>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>

  <script>
    // 파일 드래그시 opacity .6
    window.addEventListener('mousemove', cursorHandler);

    function cursorHandler(e) {
      document.querySelector('.global-cursor').classList.remove('is-none');
      // if (e.target.nodeName === 'P') {
        // document.querySelector('.global-cursor').classList.add('is-none');
      // }
      const clientPositionX = e.clientX;
      const clientPositionY = e.clientY;
      const baseCursorSize = 20;
      const cursorDots = document.querySelectorAll('.cursor-dot');
      const dotsNumber = 5;
      cursorDots.forEach(function (t, s) {
        TweenLite.to(t, (s + 1) / dotsNumber / 7.5, {
          ease: Power1.easeOut,
          x: clientPositionX - baseCursorSize / 2,
          y: clientPositionY - baseCursorSize / 2
        })
      });
    }
  </script>
</body>

</html>