@charset "utf-8";

/*=
  @group Components
  @name Intro
  @author wanho1108 <wanho1108@gmail.com>
  @since 2020-01-13
*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background: url(/public/image/img-feather.svg) right 0 bottom 20% no-repeat;
  transition: opacity .2s;

  &.is-draging {
    opacity: .6;
  }
}

.intro__heading {
  margin-bottom: 80px;
}

.intro__paragraph {
  font-size: 22px;
  font-weight: 400;

  + .intro__paragraph {
    margin-top: 15px;
  }
}

.intro__button-region {
  margin-top: 80px;
}