@charset "utf-8";

/*=
  @group Components
  @name Loading
  @author wanho1108 <wanho1108@gmail.com>
  @since 2020-11-16
*/

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}