@charset "utf-8";

/*=
  @group Components
  @name Typefaces
  @author wanho1108 <wanho1108@gmail.com>
  @since 2020-01-18
*/

.typefaces {
  margin: 10% 10%;
}

.typefaces__preview {
  box-sizing: border-box;
  padding: 15px 5px;
  font-size: 20px;
  color: #222;
  word-break: keep-all;
  line-height: 1.6;
}

.typefaces__characters {
  padding-top: 1px;
  padding-left: 1px;
  box-sizing: border-box;
  font-size: 20px;
  color: #222;
  line-height: 1.6;
  outline: none;

  &--grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 1px;
  }

  &--edit {
    cursor: text;

    &:empty:before {
      content: attr(data-placeholder);
      color: #868e96;
    }
  }
}

.typefaces__characters-item {
  box-shadow: 0 0 0 1px #ccc;
  line-height: 50px;
  text-align: center;
}

.typefaces__buttons {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.typefaces__button {
  display: block;
  margin-top: 30px;
}