@charset "utf-8";

/*=
  @group Components
  @name Typefaces
  @author wanho1108 <wanho1108@gmail.com>
  @since 2020-01-18
*/

.typefaces {
  margin: 10% 10%;
}

.typefaces__preview {
  box-sizing: border-box;
  padding: 15px 5px;
  font-size: 20px;
  color: #222;
  word-break: keep-all;
  line-height: 1.6;
}

.typefaces__characters {
  padding-top: 1px;
  padding-left: 1px;
  box-sizing: border-box;
  font-size: 20px;
  color: #222;
  line-height: 1.6;
  outline: none;

  span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    margin-top: -1px;
    margin-left: -1px;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
}

.typefaces__buttons {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.typefaces__button {
  display: block;
  margin-top: 30px;
}