@charset "utf-8";

/*=
  @group Generic
  @name Reset
  @author wanho1108 <wanho1108@gmail.com>
  @since 2019-03-06
*/

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
  font-family: Inter, 'Spoqa Han Sans', AppleSDGothicNeo, Roboto, HelveticaNeue, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  line-height: 1.2;
  word-break: break-all;
}

body {
  color: #868e96;
}

.wrapper {
  min-height: 100vh;
  background-color: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, hr, p, input, textarea, select, button, th, td, blockquote, figure, dialog {
  padding: 0;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, input, textarea, select, button, table {
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
}

a, button {
  cursor: pointer;
  transition-property: background-color, border-color, color, opacity;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

a, input, textarea, button {
  color: inherit;
}

img, fieldset, iframe, dialog {
  border: 0;
}

hr {
  border: solid #9a9a9a;
  border-width: 1px 0 0 0;
}

ul, ol {
  list-style: none;
}

img, input, select, button, textarea {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

address, cite, dfn, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, em, mark, b {
  font-weight: 400;
}

mark {
  background: none;
}

small {
  font-size: .86em;
}

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input, textarea {
  box-sizing: border-box;
}

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='image'] {
  border: 0;
  background: none;
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #6e90fe;
}

::-moz-placeholder {
  color: #6e90fe;
}

:-ms-input-placeholder {
  color: #6e90fe;
}

:-moz-placeholder {
  color: #6e90fe;
}

textarea {
  overflow: hidden;
  overflow-y: auto;
}

legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
}

fieldset {
  min-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  word-break: break-all;
}


@media #{map-get($breakpoints, 'medium')} {
  html {
    font-size: 13px;
  }
}

@media #{map-get($breakpoints, 'small')} {
  html {
    font-size: 11px;
  }
}